name: CI

on:
  workflow_call:

env:
  SCCACHE_GHA_ENABLED: "true"
  CCACHE: "true"

jobs:
  windows:
    name: "${{ matrix.platform }} (${{ matrix.os.arch }})"
    runs-on: ${{ matrix.os.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - runs-on: windows-latest
            arch: amd64
            msvc_arch: amd64
            msystem: mingw64

          - runs-on: windows-11-arm
            arch: arm64
            msvc_arch: amd64_arm64
            msystem: clangarm64
        platform: [windows, mingw]

    env:
      ARCH: ${{ matrix.os.arch }}
      PLATFORM: ${{ matrix.platform }}

    defaults:
      run:
        shell: ${{ matrix.platform == 'mingw' && 'msys2 {0}' || 'bash' }}

    steps:
      - uses: actions/checkout@v4

      - name: Install sccache
        uses: Eden-CI/sccache-action@v0.0.1
        with:
          disable_annotations: true

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        if: matrix.platform == 'windows'
        with:
          arch: ${{ matrix.os.arch }}

      - uses: lukka/get-cmake@latest
        if: matrix.platform == 'windows'

      - name: Install zstd
        if: matrix.platform == 'windows'
        run: |
          choco install zstandard

      - name: Setup MSYS2 environment
        uses: msys2/setup-msys2@v2
        if: matrix.platform == 'mingw'
        with:
          msystem: ${{ matrix.os.msystem }}
          update: true
          install: >-
            git make unzip pkgconf diffutils
          pacboy: >-
            toolchain:p vulkan-devel:p pkg-config:p
            nasm:p ffnvcodec-headers:p amf-headers:p
            cmake:p ninja:p

      - name: Build (MSYS)
        if: matrix.platform == 'mingw'
        run: ./tools/build.sh

      - name: Build (MSVC)
        if: matrix.platform == 'windows'
        run: |
          PLATFORM=${{ matrix.platform }} ./tools/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-${{ matrix.os.arch }}
          path: artifacts/*

  unix:
    name: "${{ matrix.platform }} (${{ matrix.arch }})"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: solaris
            runs-on: ubuntu-latest
            arch: amd64
            vm-arch: x86_64

          - platform: freebsd
            runs-on: ubuntu-latest
            arch: amd64
            vm-arch: x86_64

          - platform: openbsd
            runs-on: ubuntu-latest
            arch: amd64
            vm-arch: x86_64

    env:
      PLATFORM: ${{ matrix.platform }}
      ARCH: ${{ matrix.arch }}

    steps:
      - uses: actions/checkout@v4

      - name: Install sccache
        uses: Eden-CI/sccache-action@v0.0.1
        with:
          disable_annotations: true

      - name: Build (Solaris)
        if: matrix.platform == 'solaris'
        uses: vmactions/openindiana-vm@v0
        with:
          arch: ${{ matrix.vm-arch }}
          release: "202510"
          usesh: true
          envs: 'PLATFORM ARCH GITHUB_WORKSPACE CCACHE SCCACHE_DIR SCCACHE_GHA_ENABLED ACTIONS_RESULTS_URL ACTIONS_RUNTIME_TOKEN ACTIONS_CACHE_SERVICE_V2'

          run: |
            # wtf
            ulimit -v unlimited
            swap -s

            chmod a+x ./deps/solaris.sh
            chmod a+x ./tools/build.sh

            ./deps/solaris.sh

            export SCCACHE_PATH=$(which sccache)

            ./tools/build.sh

      - name: Build (FreeBSD)
        if: matrix.platform == 'freebsd'
        uses: vmactions/freebsd-vm@v1
        with:
          arch: ${{ matrix.vm-arch }}
          usesh: true
          envs: 'PLATFORM ARCH GITHUB_WORKSPACE CCACHE SCCACHE_DIR SCCACHE_GHA_ENABLED ACTIONS_RESULTS_URL ACTIONS_RUNTIME_TOKEN ACTIONS_CACHE_SERVICE_V2'

          run: |
            chmod a+x ./deps/freebsd.sh
            chmod a+x ./tools/build.sh

            ./deps/freebsd.sh
            export SCCACHE_PATH=$(which sccache)

            bash -e ./tools/build.sh

      - name: Build (OpenBSD)
        if: matrix.platform == 'openbsd'
        uses: vmactions/openbsd-vm@v1
        with:
          arch: ${{ matrix.vm-arch }}
          usesh: true
          envs: 'PLATFORM ARCH GITHUB_WORKSPACE CCACHE SCCACHE_DIR SCCACHE_GHA_ENABLED ACTIONS_RESULTS_URL ACTIONS_RUNTIME_TOKEN ACTIONS_CACHE_SERVICE_V2'

          run: |
            chmod a+x ./deps/openbsd.sh
            chmod a+x ./tools/build.sh

            ./deps/openbsd.sh
            export SCCACHE_PATH=$(which sccache)

            # OpenBSD compiler situation is sad
            bash -e ./tools/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-${{ matrix.arch }}
          path: artifacts/*

  linux:
    name: "Linux (${{ matrix.arch }})"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: ubuntu-latest
            arch: amd64

          - runs-on: ubuntu-24.04-arm
            arch: aarch64

    env:
      ARCH: ${{ matrix.arch }}
      PLATFORM: linux

    steps:
      - name: Maximize build space
        run: |
          echo "-- Free Space before:"
          df -h

          echo "-- Dotnet"
          sudo rm -rf /usr/share/dotnet
          echo "-- Android"
          sudo rm -rf /usr/local/lib/android
          echo "-- Haskell"
          sudo rm -rf /opt/ghc
          echo "-- CodeQL"
          sudo rm -rf /opt/hostedtoolcache/CodeQL

          echo "-- Free Space after:"
          df -h

      - uses: actions/checkout@v4

      - name: Start container
        run: |
          docker run -d --name arch-build -v ${{ github.workspace }}:/workspace -w /workspace ghcr.io/pkgforge-dev/archlinux:latest tail -f /dev/null

      - name: Install sccache
        uses: Eden-CI/sccache-action@v0.0.1
        with:
          disable_annotations: true

      - name: Deps
        run: docker exec arch-build ./deps/linux.sh

      - name: Build
        run: docker exec arch-build sh -c 'PLATFORM=${{ matrix.platform }} ARCH=${{ matrix.arch }} ./tools/build.sh'

      - name: Copy artifacts from container
        run: |
          docker cp arch-build:/workspace/artifacts .
          docker stop arch-build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.arch }}
          path: artifacts/*

  macos:
    name: "macOS (universal)"
    runs-on: macos-latest
    strategy:
      fail-fast: false

    env:
      PLATFORM: macos
      ARCH: universal

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install sccache
        uses: Eden-CI/sccache-action@v0.0.1
        with:
          disable_annotations: true

      - name: Get Dependencies
        run: |
          chmod a+x ./deps/macos.sh
          ./deps/macos.sh

      - name: Build
        run: |
          chmod a+x ./tools/build.sh
          ./tools/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-universal
          path: artifacts/*